tinkerer
ghp-import
#pygments-style-jellywrd
https://github.com/westurner/pygments-style-jellywrd/archive/pygments-style-jellywrd-0.1.0.tar.gz
beautifulsoup4
grin
-e git+https://github.com/westurner/sphinxjp.themes.basicstrap#egg=sphinxjp.themes.basicstrap
